
/*letra e fundo*/

.bg-white { background-color: #eee;}
.white { color: #eee}

.bg-blue { background-color: #2e5566;}
.blue {color:#2e5566;}

.bg-blue-white{
    background-color: #20B2AA;
}
.bg-orang{ background-color: rgb(241, 186, 84);}
.orang { color: rgb(241, 186, 84);}

.bg-orang1{ background-color: #f0a211;}
.orang1 { color: #f0a211;}

.bg-black {background-color: #201e1e;}
.black { color: #201e1e;}


/*borda*/
.bor_1{
    border: 1px solid  rgb(241, 186, 84) ;
}
 [class*="col-"] {
    float: left;
    padding: 10px;
    /* border: 1px solid red; */

}

[class*="bor"] {
    /* float: left; */
    padding: 10px;
    border: 1px solid #eee;
}