
/*letra e fundo*/

.bg-white { background-color: #eee;}
.white { color: #eee}
.bg-white1{
    background-color: rgb(216, 216, 216);
}
.bg-blue { background-color: #2e5566;}

.blue {color:#2e5566;}

.bg-orang{ background-color: rgb(241, 186, 84);}
.orang { color: rgb(241, 186, 84);}

.bg-orang1{ background-color: #f0a211;}
.orang1 { color: #f0a211;}

.bg-black {background-color: #201e1e;}
.black { color: #201e1e;}

.bg-red{
    background-color: #f00b3c;
}
/*borda*/

[class*="border-"] {
    /* padding: 10px; */
   border:4px solid #a3daf1;
}

 [class*="col-"] {
  
    border: 1px solid red;
}

